@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

body{
    font-family: kiwi Maru, sans-serif;
    padding-top: 50px;
    background-color: #eee;
}
*{
    box-sizing: border-box;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    background-color:black;
    width: 100%;
}
nav ul{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
#main {
    text-align: center;
    max-width: 800px;
    margin: auto;
   
}
#main h1{
    font-size: 4em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
#main p{
    margin: 0;
    font-size: 1.5em;
}
#img-div{
    background-color: white;
    padding: 15px;
}
#image{
    max-width: 100%;
    display: block; 
}
#img-caption{
    padding: 10px;
}

